<% provide(:title, "About") %>
<h1>映画・文学めしについて</h1>
<p>当サイトは、映画・文学に登場する料理のレシピ投稿サイトです。</p>
<p>映画や文学において、時に料理は魅力的に描写されていますが、そういった料理の背後にある数多くの物語は既存のレシピサイトでは埋もれてしまっています。</p>
<p>また、文学においては、料理のビジュアルイメージは読者の想像に委ねられ、また、映画においては、言語描写よりもビジュアルイメージにフォーカスされ、どちらもレシピとしては未完のままが多いのではないかと思います。</p>
<p>当レシピサイトは、映画や文学に登場する料理のレシピとして未完の部分を各ユーザーが想像、補完し、そのレシピに隠された魅力的な描写を添えて、それぞれの答えを投稿するプラットフォームです。</p>
<p>マイページ上にお気に入りの映画や文学を登録し、同じ嗜好を持つユーザーのレシピ投稿をトレースできます。</p>
<p>映画や文学の嗜好性という従来のレシピサイトにはなかった新たな指標によって、よりパーソナライズされた形でレシピを検索することができます。</p>
