<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
      <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-9">
      <h3>Recipe Feed</h3>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Myportfolio</h1>

  <h2>
    映画・文学に登場する料理のレシピ投稿サイトです。
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>