%p
  #{@user.name}様
%p
  下記のリンクより、パスワードの再設定をおこなってください。
= link_to "Reset password", edit_password_reset_url(@user.reset_token, |
  email: @user.email)                                                  |
%p ※当リンクの有効期限は２時間となります。
%p
  本メールに心当たりがない場合は、第三者が入力を誤った可能性がございます。
%p
  そのためこのメールは破棄していただいて結構です。
