- if logged_in?
  - unless recipe.favorite_user(current_user.id).blank?
    = link_to recipe_favorite_path(recipe_id: recipe.id ,id: recipe.favorites[0].id), class: "btn btn-primary rounded-circle p-0", style: "width:2rem;height:2rem;", method: :delete, remote: true do
      %i.fas.fa-heart
  - else
    = link_to recipe_favorites_path(recipe.id), class: "btn btn-primary rounded-circle p-0", style: "width:2rem;height:2rem;", method: :post, remote: true do
      %i.far.fa-heart
