= react_component("HelloWorld", { greeting: "Hello" })
- if @title != nil?
  .h2= @title
.card-columns
  = render partial: 'recipes/index', collection: @search_recipes, as: :recipe
= paginate @search_recipes
