<div class="nested-fields">
  <div class="row">
    <div class="col-10">
      <%= f.text_field :content, placeholder: "作り方を入力してください", class: 'form-control' %>
    </div>
    <div class="col-2">
      <%= link_to_remove_association '削除', f %>
    </div>
  </div>
</div>