.fields
  %li
    .row
      .col-7
        .form-group
          = f.text_field :ingredient, placeholder: "例:鶏むね肉", class: 'form-control'
      .col-4
        .form-group
          = f.text_field :amount, placeholder: "例:200g", class: 'form-control'
      .col-1
        -# %i.fa.fa-times-circle
        = link_to_remove_field(f, {})
