@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin tag_format {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #e94f1a;
  background-color: #fff;
  border: 1px solid #e94f1a;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

$MainColor: #e94f1a;

/* universal */

body {
  padding-top: 100px;
  background-color: #f7f3e8;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: white;
}

.left {
  text-align: left;
  width: auto;
  background-color: white;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-text {
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

.nav-item {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  .dropdown-item {
    text-shadow: none;
  }
}

.btn-primary {
  color: #e94f1a;
  background-color: white;
  border-color: #e94f1a;
}

.btn-primary:hover {
  color: white;
  background-color: #e94f1a;
  border-color: black;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #e94f1a;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #e94f1a;
  border-color: #e94f1a;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e94f1a;
  border-color: #e94f1a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #e94f1a;
}

$bgDefault: #e94f1a;
$bgHighlight: #e94f1a;
$colDefault: #ffffff;
$colHighlight: #f7f3e8;
$dropDown: false;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
    a {
      color: $colHighlight;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: 0.25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover,
          &:focus,
          &.active {
            color: $colHighlight;
            background-color: $bgHighlight;
          }
        }
        .dropdown-divider {
          border-top-color: $bgHighlight;
        }
      }
    }
    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .navbar-toggler-icon {
      color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

.form-inline > .form-control {
  margin-top: 0.25rem;
  margin-bottom: 0;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  width: 300px;
}

#search_btn {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  .container {
    margin-top: 45px;
    background-color: white;
  }
  .user-icon {
    padding-top: 10px;
    .gravatar {
      display: block;
      margin: 0 auto;
    }
  }
  .user-name {
    font-size: 1.4em;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    a {
      color: black;
    }
  }
}

.gravatar_edit {
  margin-top: 15px;
}

.user-stats {
  display: flex;
  justify-content: center;
  a {
    padding: 0 10px;
    margin-bottom: 10px;
    border-left: 1px solid rgba(#d3d3d3, 1);
    color: gray;
    &:first-child {
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  strong {
    display: block;
    text-align: center;
  }
}

.alert-nopost {
  padding-top: 60px;
  text-align: center;
}

.follow-list {
  margin-top: 45px;
  background-color: white;
  padding: 1rem 2rem;
}

.users.follow {
  padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $MainColor;
}

a#item1-tab.nav-link,
a#item2-tab.nav-link {
  &[aria-selected="false"] {
    color: black;
  }
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input,
  textarea {
    @extend .is-invalid;
  }
  .form-control {
    color: text-danger;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(#d3d3d3, 1);
  }
}

/* recipes */

.work,
.author,
.category {
  border-top: #d5d2cd solid 1px;
  padding: 0.5em 0 0.5em 0.5em;
  line-height: 1.5;
}

.content {
  border-top: #d5d2cd solid 1px;
  padding: 0.5em 0 0.5em 1em;
  line-height: 1.5;
}

.ingredients_list {
  border-top: #d5d2cd solid 1px;
  padding: 0.5em 0 0em 0em;
  list-style: none;
  line-height: 2;
  .ingredients_list_item {
    border-bottom: #f4f2f0 solid 1px;
  }
  .amount {
    float: right;
  }
  ol {
    padding-left: 1em;
  }
}

.how_to_makes_list {
  border-top: #d5d2cd solid 1px;
  padding: 0.5em 0 0em 0em;
  line-height: 2;
  .how_to_makes_list_item {
    border-bottom: #f4f2f0 solid 1px;
  }
  ol {
    padding-left: 1em;
  }
}

.work_title,
.author_title,
.category_title,
.content_title,
.ingredients_list_title,
.how_to_makes_list_title {
  margin-bottom: 0.3em;
}

.comment_title {
  padding-bottom: 0.3em;
  border-bottom: #d5d2cd solid 1px;
  margin-bottom: 0.3em;
}

.comment_content {
  padding: 0 0 0.5em 3.1em;
  border-bottom: #f4f2f0 solid 1px;
}

.comment_time {
  padding-left: 3.1em;
  display: inline-block;
  color: #70777f;
}

.delete_comment > a {
  padding-left: 1em;
  color: #70777f;
  &:hover {
    color: black;
  }
}

.comment_user > a {
  font-size: 1.1em;
  color: black;
  &:hover {
    color: black;
  }
}

.recipe_img {
  display: block;
  margin: auto;
  padding-bottom: 2em;
  width: 85%;
  text-align: center;
}

.work_tag,
.author_tag,
.category_tag {
  @include tag_format;
}

.info {
  float: right;
  .user > a {
    color: black;
    &:hover {
      color: black;
    }
  }
}

.timestamp {
  display: block;
}

/* posts */
.card-columns {
  display: inline-block;
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

/* pagenation */

.pagination {
  justify-content: center;
}

/* index */
.card-body {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.card_work_tag,
.card_author_tag,
.card_tags_tag {
  @include tag_format;
  font-size: 0.7em;
}

.card-title > a {
  color: black;
  display: inline;
}

.fa-heart {
  vertical-align: bottom;
}

/* recipe_form */
.fa-times-circle {
  color: red;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}
.fa-plus-circle {
  color: black;
  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}
.add-nav {
  color: #6c757d;
}
.form-group > a:hover {
  color: black;
  text-decoration: underline;
}
#input-text {
  margin-bottom: 0;
}

#counter {
  float: right;
  margin-bottom: 0;
}
