@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin tag_format{
  position: relative;
  display: inline-block;
  margin: 0 .6em .6em .6em;
  padding: .6em .6em .6em 1.2em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color:#e94f1a;
  &:before{
    position: absolute;
    top: 0;
    left: -1em;
    content: '';
    border-width: 1.1em 1em 1.1em 0;
    border-style: solid;
    border-color: transparent #e94f1a transparent transparent;
  }
  &:after{
    position: absolute;
    top: center;
    left: 0;
    content: '●';
    color: #fff;
  }
  &:hover {
    color: black;
    background-color: #e94f1a;
    border-color: black;
  }
}

/* universal */

body {
  padding-top:  100px;
  background-color: #f7f3e8;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: white;
}

.left {
  text-align: left;
  width: auto;
  background-color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-text {
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

.nav-item{
  border: 1px solid #000;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
  .dropdown-item{
    text-shadow:none;
  }
}

.btn-primary {
  color: #fff;
  background-color: #e94f1a;
}

.btn-primary:hover {
  color: black;
  background-color: #e94f1a;
  border-color: black;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #e94f1a;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #e94f1a;
  border-color: #e94f1a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e94f1a;
  border-color: #e94f1a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #e94f1a;
}

$bgDefault      : #e94f1a;
$bgHighlight    : #e94f1a;
$colDefault     : #ffffff;
$colHighlight   : #f7f3e8;
$dropDown       : false;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
    float: left;
    margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid rgba(#d3d3d3,1.0);
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
  .form-control {
    color: text-danger;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(#d3d3d3,1.0);
  }
}

/* recipes */


  .work, .author, .category, .content{
    border-top: #d5d2cd solid 1px;
    padding: 0.5em 0 0.5em 0.5em;
    line-height: 1.5;
  }

  .ingredients_list{
    border-top: #d5d2cd solid 1px;
    padding: 0.5em 0 0.5em 1.5em;
    list-style: none;
    line-height: 2;
    .ingredients_list_item{
      border-bottom: #f4f2f0 solid 1px;
    }
    .amount{
      float: right;
    }
  }

  .how_to_makes_list{
    border-top: #d5d2cd solid 1px;
    padding: 0.5em 0 0em 0em;
    line-height: 2;
    .how_to_makes_list_item{
      border-bottom: #f4f2f0 solid 1px;
    }
  }

  .work_title, .author_title, .category_title, .content_title, .ingredients_list_title, .how_to_makes_list_title{
    margin-bottom: 0.3em;
  }

  .recipe_img{
    display: block;
    margin: auto;
    padding-bottom: 2em;
    width: 85%;
    text-align: center;
    }

  .work_tag, .author_tag, .category_tag{
    @include tag_format;
  }
  
  .info{
    float: right;
  }
  
  .timestamp {
    display: block;
  }

/* posts */
.card-columns {
  display: inline-block;
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

/* pagenation */

.pagination {
  justify-content: center;
}

/* index */
.card-body{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.card_work_tag, .card_author_tag{
  @include tag_format;
  font-size: 0.7em;
}

/* recipe_form */ 
.fa-times-circle{
  color: red;
  vertical-align: middle;
  &:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}
.fa-plus-circle {
  color: black;
  &:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}
.add-nav{
  color: #6c757d;
}
.form-group>a:hover{
  color: black;
  text-decoration: underline;
}
#input-text{
  margin-bottom: 0;
}

#counter{
  float: right;
  margin-bottom: 0;
}