<footer class="footer">
  <small>
    <a href="#">映画・文学めし</a>
    by <a href="#">Yosuke Nakaguchi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>